<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Osmaxx</title>
    <style>
        body { font-family: Arial, sans-serif; }
    </style>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="thirdparty/leaflet-locationfilter/src/locationfilter.css" />-->

    <link rel='stylesheet' type='text/css' href='{% static "stylesheets/main.css" %}' />
</head>
<body>
    <header>
        <h1>Osmaxx</h1>
    </header>
    <div class="main">
        {% block main %}
            <h2>Main block</h2>
        {% endblock %}
    </div>
    <footer>
        <p>&copy; osmaxx.ch 2015</p>
    </footer>
</body>
</html>
