.leaflet-control-current-extent {
    padding: 5px 6px;
}

.asteriskField {
    display: none;
}

.hand-cursor {
    /* defined twice for cross browser compatibility */
    cursor: pointer;
    cursor: hand;
}
