<div class="row">
    <div class="col-md-6">
        <div class="form-group has-feedback">
            <label for="opt_group_filter" class="control-label">Filter by name</label>
            <input id="excerptListFilterField" class="form-control" type="search" placeholder="Filter excerpts …" autocomplete="off"/>
            <span id="excerptListFilterFieldClearer" class="clearer glyphicon glyphicon-remove-circle form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div id="opt_group_filter_div" class="hidden">
            <div class="form-group">
                <label for="opt_group_filter" class="control-label">Filter by group</label>
                <select class="select form-control" name="opt_group_filter" id="opt_group_filter"></select>
            </div>
        </div>
    </div>
</div>
