[submodule "/home/hsr/workspace/2015-Osmaxx/osmaxx/osmaxx/osmaxx/excerptexport/static/excerptexport/libraries/leaflet-locationfilter"]
	path = /home/hsr/workspace/2015-Osmaxx/osmaxx/osmaxx/osmaxx/excerptexport/static/excerptexport/libraries/leaflet-locationfilter
	url = https://github.com/kajic/leaflet-locationfilter.git
