*.pyc
*.db
*~
.*

# `documentation builds`
/html/
# `coverage` reports
htmlcov/
coverage/

# `setup.py` products
build/
dist/
*.egg-info/
MANIFEST

# venv
bin/
include/
lib/
local/

# Python 3 centralized *.pyc location
__pycache__/

# Hidden by naming convention, but tracked anyway:
!.gitignore
!.travis.yml
