# Minimum Django and REST framework version
Django>=1.8,<1.9
djangorestframework>=3.2,<3.4
djangorestframework-gis==0.9.5
djangorestframework-jwt==1.7.2
django-enumfield==1.2.1
requests==2.8.1
markdown
django-filter
django-rq==0.8.0
django-environ==0.4.0
django-extensions==1.5.9
Werkzeug==0.10.4
django-debug-toolbar==1.4
whitenoise
psycopg2==2.6.1

# Test requirements
pytest-django==2.9.1
pytest-cov==2.2.0
flake8==2.4.1

# wheel for PyPI installs
wheel==0.26.0

# MkDocs for documentation previews/deploys
mkdocs==0.14.0

# Extended linting support (Prospector)
prospector==0.10.2
pyroma==1.8.2
vulture==0.8.1

# production
gunicorn>=19,<20

# sentry error logging on production
raven>=5.8,<6

