{% extends "osmaxx/base.html" %}
{% load i18n %}

{% block main %}
<div class="container-row content">
    <h2>About OSMaxx</h2>
    <p>
        OSMaxx (short for "OpenStreetMap arbitrary excerpt export") cuts out OpenStreetMap data, processes it to
        geodata, converts it to typical GIS fileformats and offers those for download.
    </p>
    <h3>Usefull links</h3>
    <p>Can be found in our separate <a href="{% url 'pages:downloads' %}">downloads page</a></p>
    <h3>Impressum</h3>
    <p>some words about license and such.</p>
</div>
{% endblock %}