{% extends "osmaxx/base.html" %}
{% load i18n static %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'Additional Downloads' %}</li>
{% endblock %}

{% block main %}
    <div class="container-row content">
        <h2>Downloads</h2>
        <p>Here you can find additional downloads and some useful links to similar projects.</p>
        <h3>Sample Exports</h3>
        <p>
            The following sample exports feature excerpt "Rapperswil-Jona".
            <h4>Full detail GIS format exports</h4>
            <dl class="dl-horizontal">
                <dt>Esri File Geodatabase</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_fgdb_full-detail.zip' %}">rapperswil-jona_wgs-84_2017-03-20_fgdb_full-detail.zip</a>
                </dd>
                <dt>Esri Shapefile</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_shapefile_full-detail.zip' %}">rapperswil-jona_wgs-84_2017-03-20_shapefile_full-detail.zip</a>
                </dd>
                <dt>GeoPackage</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_gpkg_full-detail.zip' %}">rapperswil-jona_wgs-84_2017-03-20_gpkg_full-detail.zip</a>
                </dd>
                <dt>SpatiaLite</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_spatialite_full-detail.zip' %}">rapperswil-jona_wgs-84_2017-03-20_spatialite_full-detail.zip</a>
                </dd>
            </dl>
            <h4>Reduced detail ("simplified") GIS format exports</h4>
            <dl class="dl-horizontal">
                <dt>Esri File Geodatabase</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_fgdb_simplified.zip' %}">rapperswil-jona_wgs-84_2017-03-20_fgdb_simplified.zip</a>
                </dd>
                <dt>Esri Shapefile</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_shapefile_simplified.zip' %}">rapperswil-jona_wgs-84_2017-03-20_shapefile_simplified.zip</a>
                </dd>
                <dt>GeoPackage</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_gpkg_simplified.zip' %}">rapperswil-jona_wgs-84_2017-03-20_gpkg_simplified.zip</a>
                </dd>
                <dt>SpatiaLite</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_spatialite_simplified.zip' %}">rapperswil-jona_wgs-84_2017-03-20_spatialite_simplified.zip</a>
                </dd>
            </dl>
            <h4>Non-GIS formats</h4>
            <dl class="dl-horizontal">
                <dt>Garmin navigation &amp; map data</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_garmin_full-detail.zip' %}">rapperswil-jona_wgs-84_2017-03-20_garmin_full-detail.zip</a>
                </dd>
                <dt>OSM Protocolbuffer Binary Format</dt>
                <dd>
                    <a href="{% static 'osmaxx/example_data/rapperswil-jona_wgs-84_2017-03-20_pbf_full-detail.zip' %}">rapperswil-jona_wgs-84_2017-03-20_pbf_full-detail.zip</a>
                </dd>
            </dl>
        </p>
        <h3>Styles</h3>
        <h4>QGIS</h4>
        <p>
            A QGIS project file is being delivered with every export, matching the exported data containing the OMSaxx
            default style. The file should be opened in the folder where it can be found:  <code>&lt;<i>unzipped_folder</i>&gt;/symbology/QGIS/</code>.
        </p>
        <h4>ESRI ArcMap</h4>
        <p>
            The Symbolfont (see below) needs to be installed on the system before being able to apply this style.<br />
            The <a href="{% static 'osmaxx/example_data/ArcGIS_styles.zip' %}">ArcGIS style</a> can be applied to any extract
            from OSMaxx. This download includes several variants of this style, each suitable for a different map scale.
        </p>
        <h4>Point Symbols</h4>
        <p>
            The OSMaxx point symbols as a font:
            <a href="https://github.com/geometalab/osmaxx-symbology/raw/symbolfont-1.0.0/osmaxx-symbology/OSMaxx_point_symbols/OSMaxx_v1.ttf">OSMaxx Symbolfont v1</a>
        </p>
        <p>
            The individual symbols are available
            <a href="https://github.com/geometalab/osmaxx-symbology/tree/master/osmaxx-symbology/OSMaxx_point_symbols/svg">as SVG files on GitHub</a>
            and are also included in the download for each export.
        </p>
        <h3>OsmAnd</h3>
        <p>
            <a href="http://osmand.net/">OsmAnd</a> is a iPhone/Android App which provides maps on the phone from OSM.
            They provide downloads with very recent data directly extracted from OSM.
        </p>
    </div>
{% endblock %}
