{% extends "osmaxx/base.html" %}
{% load i18n %}

{% block main %}
<div class="container-row content">
    <h2>Downloads</h2>
    <p>Here you can find additional downloads and some useful links to similar projects.</p>
    <h3>Symbolfont</h3>
    <p>
        <a href="https://github.com/geometalab/osmaxx-docs/raw/symbolfont-1.0.0/osmaxx-symbology/OSMaxx_point_symbols/OSMaxx_v1.ttf">OSMaxx Symbolfont v1</a>
    </p>
    <h3>OsmAnd</h3>
    <p>
        <a href="http://osmand.net/">OsmAnd</a> is a iPhone/Android App which provides maps on the phone from OSM.
        They provide downloads with very recent data directly extracted from OSM.
    </p>
</div>
{% endblock %}
