{% extends "osmaxx/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
{{ block.super }}
<li class="active">{% trans 'About OSMaxx' %}</li>
{% endblock %}

{% block main %}
<div class="container-row content">
    <h2>About OSMaxx</h2>
    <p>
        OSMaxx (short for "OpenStreetMap Arbitrary Excerpt Export") cuts out OpenStreetMap (OSM) data, processes it to
        geospatial data structures, converts it to typical GIS file formats and offers those for download.
    </p>
    <p>
        A <a href="{% static 'osmaxx/docs/OSMaxx_Product_Fact_Sheet_deutsch.pdf' %}">product fact sheet</a> (in German)
        is available.
    </p>
    <p>
        <a href="https://github.com/geometalab/osmaxx">All our code is open-source</a> and contributions are welcome.
    </p>
    <h3>Documentation</h3>
    <p> You can find the online documentation of the schema on GitHub:
        <a href="https://github.com/geometalab/osmaxx/blob/master/docs/osmaxx_data_schema.md">Export Schema
            Documentation</a>.
    </p>

    <h3>Useful links</h3>
    <p>These can be found in our separate <a href="{% url 'pages:downloads' %}">downloads page</a>.</p>

    <h3>Data sources</h3>
    <p>All data used by OSMaxx comes directly or indirectly from <a
            href='https://www.openstreetmap.org/'>OpenStreetMap</a>:</p>

    <p>The bulk of our input data (everything not listed separately below) is verbatim
        OpenStreetMap data, taken from our own regularly (about every two hours, depending
        on the current load) synchronized database import of the
        <a href='https://planet.openstreetmap.org/'>OpenStreetMap planet</a>.

    <h4>Additional data sources</h4>
    <ul>
        <li>Coastlines, Water-polygons and Landmasses: These are from OSM derived data
            provided by <a href="http://openstreetmapdata.com/data/">openstreetmapdata.com</a>.</li>
        <li>Country boundaries: We are using the country boundaries that are based on
            OSM-Data, cleaned and maintained by <a
                href="https://wambachers-osm.website/boundaries/">Wambachers-OSM.website</a>.</li>
    </ul>

    <h3>Found a bug?</h3>
    <p>
        Please <a href="https://github.com/geometalab/osmaxx/issues">see whether it's already been reported on
            GitHub</a>.
        If not, please <a href="https://github.com/geometalab/osmaxx/issues/new">file a new issue</a> there.
    </p>

    <h2>About us</h2>
    <p>
        OSMaxx has been developed by the Geometa Lab at the HSR University of Applied Sciences Rapperswil.
        The Geometa Lab team can be reached via email: <a href="mailto:geometalab@hsr.ch">geometalab@hsr.ch</a>.
    </p>
    <p>
        Be sure to visit our <a href="http://geometalab.tumblr.com/tagged/osm">blog</a>.
    </p>
    <address>
        Geometa Lab ℅ Prof. Stefan Keller<br />
        Institute for Software<br />
        HSR University for Applied Sciences<br />
        Oberseestrasse 10<br />
        CH-8640 Rapperswil (Switzerland)<br />
    </address>
</div>
{% endblock %}