<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OSMaxx Version</title>
</head>

<body>
<p>
{% if DEBUG %}
    <b style="color: #ff0000">DEBUG IS ON</b>
{% else %}
    <b style="color: #00ff00">DEBUG is off</b>
{% endif %}
</p>
<h1>Version in use: {{ version_number }}</h1>
</body>
</html>
