{% extends "excerptexport/layouts/base.html" %}

{% load filter_filename i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'My orders' %}</li>
{% endblock %}

{% block main %}
    <div class="container-row content">
        <h2>{% trans 'Orders' %}</h2>
        {% for extraction_order in extraction_orders.all %}
            <div class="order" data-order-status="{{ extraction_order.get_state_display }}">
                <h3>{% include 'excerptexport/partials/status.html' with status=extraction_order.get_state_display %}
                    <a href="{% url 'excerptexport:status' extraction_order.id %}">#{{ extraction_order.id }}
                    {% blocktrans with excerpt_name=extraction_order.excerpt_name %}Extraction of &quot;{{ excerpt_name }}&quot;{% endblocktrans %}</a>
                </h3>
                <p>
                    {% if extraction_order.output_files.count > 0 %}
                    <span class="number_of_downloads download_detail">{% blocktrans with number_of_output_files=extraction_order.output_files.count %}<strong>{{ number_of_output_files }} Downloads</strong>{% endblocktrans %}</span>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
