{% extends "layouts/base.html" %}

{% block main %}
    <form action="{% url 'excerptExport:create_excerpt' %}" method="post">
        {% csrf_token %}
        <h2>Existing excerpts</h2>
        <div class="elementWrapper">
            <label for="excerpts">Excerpt</label>
            <select name="excerpts" required="required">
                <optgroup label="Personal excerpts">
                    {% for excerpt in personal_excerpts %}
                        <option value="{{ excerpt.id }}">{{ excerpt.name }} (User "{{ excerpt.owner.username }}")</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Public excerpts">
                    {% for excerpt in public_excerpts %}
                        <option value="{{ excerpt.id }}">{{ excerpt.name }} (User "{{ excerpt.owner.username }}")</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>

        <h2>Create excerpt</h2>
        <div class="elementWrapper">
            <label for="excerptName">Excerpt name</label>
            <input type="text" name="excerptName" />
        </div>
        <div class="elementWrapper">
            <label>Bounding box</label>
            <input type="text" name="excerptNorth" placeholder="north" />
            <input type="text" name="excerptEast" placeholder="east" />
            <input type="text" name="excerptSouth" placeholder="south" />
            <input type="text" name="excerptWest" placeholder="west" />
        </div>
        <div class="elementWrapper">
            <label for="excerptIsPublic">Public</label>
            <input type="checkbox" checked="checked" name="excerptIsPublic"/>
        </div>
        <input type="submit" value="Create" />
    </form>
{% endblock %}