{% extends "osmaxx/base.html" %}

{% load i18n crispy_forms_tags %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'Profile' %}</li>
{% endblock %}

{% block main %}
    <div class="container-row content">
        <h2>{% trans 'Profile for' %} {{ request.user.username }}</h2>
        <div class="col-lg-4">
            <form action="{% url 'profile:edit_view' %}" method="post" id="id-profileForm">
                {% crispy form %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
            </form>
        </div>
        {% if request.user.email != request.user.profile.unverified_email %}
            <div class="col-lg-4">
                <a href="{% url 'profile:resend_verification' %}?next={{ request.GET.next }}" class="btn btn-default btn-info">Resend Confirmation Email</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
