{% load i18n %}
{% spaceless %}
    {% with content_type|lower as type %}
        {% if type == 'gpkg' %}
            {% trans 'GeoPackage' %}
        {% elif type == 'spatialite' %}
            {% trans 'SQLite based SpatiaLite' %}
        {% elif type == 'shp' %}
            {% trans 'Esri Shapefile' %}
        {% elif type == 'fgdb' %}
            {% trans 'Esri File Geodatabase' %}
        {% elif type == 'garmin' %}
            {% trans 'Garmin navigation & map data' %}
        {% endif %}
    {% endwith %}
{% endspaceless %}
