{% load i18n staticfiles %}

{% if user.is_authenticated %}
<a href="{% url 'excerptexport:logout' %}?next={% url 'excerptexport:index' %}">
    <img class="menu_icon" src='{% static "osmaxx/images/icon-logout.png" %}' alt="Logout" />
    {% trans 'Logout' %} <strong>{{ user.username }}</strong>
</a>
{% else %}
<a href="{% url 'excerptexport:login' %}?next={% url 'excerptexport:index' %}">
    <img class="menu_icon" src='{% static "osmaxx/images/icon-login.png" %}' alt="Login" />
    {% trans 'Login' %}
</a>
{% endif %}
