{% load i18n %}

<nav id="main_menu">
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="{% url 'excerptexport:order_existing_excerpt' %}">
                <span class="menu_icon">&#x27bd;</span>&nbsp;{% trans 'Existing Excerpt / Country' %}
            </a>
        </li>
        <li role="presentation">
            <a href="{% url 'excerptexport:order_new_excerpt' %}">
                <span class="menu_icon">&#8983;</span>&nbsp;{% trans 'New Excerpt' %}
            </a>
        </li>

        {% if user.is_authenticated %}
        <li role="presentation">
            <a href="{% url 'excerptexport:export_list' %}">
                <span class="menu_icon">&#x2637;</span>&nbsp;{% trans 'My Exports' %}
            </a>
        </li>
        {% endif %}

        <li role="presentation">
            <a href="{% url 'pages:downloads' %}">
                <span class="menu_icon">&#x2637;</span>&nbsp;{% trans 'Additional Downloads' %}
            </a>
        </li>

        <li role="presentation">
            <a href="{% url 'pages:about' %}">
                <span class="menu_icon">?</span>&nbsp;{% trans 'About' %}
            </a>
        </li>

        {% include 'osmaxx/login_logout_link.html' with user=user %}
    </ul>
</nav>
