{% load filter_filename i18n %}

<ul class="download_files">
{% for file in files.all %}
    {% url 'excerptexport:download' uuid=file.public_identifier as download_url %}
    {% if file.deleted_on_filesystem %}
        <li data-file-deleted title="{{ file.file|filter_filename }} is already deleted">{{ file.download_file_name }}</li>
    {% else %}
    <li>{% include 'excerptexport/partials/download_content_file_label.html' with content_type=file.content_type %}:
        <a href="{{ download_url }}">{{ file.download_file_name }}</a>
        <a href="mailto:?subject=Download%20map%20data%20of%20{{ file.extraction_order.excerpt_name }}&body={% include 'excerptexport/partials/content_file_type_description.html' with content_type=file.content_type %} ({{ file.content_type }}): {{ protocol }}://{{ host_domain }}{{ download_url }}">
            <button>&#9993; {% trans 'Send link' %}</button>
        </a>
        <div class="copy-link">
            {% spaceless %}
                <label>{% trans 'Copy link:'%} </label>
                <textarea class="form-control">{{ protocol }}://{{ host_domain }}{{ download_url }}</textarea>
            {% endspaceless %}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
