{% load filter_filename i18n whitespace_cleanup email_bodies capture_as navigation %}

<ul class="download_files">
{% for file in extraction_order.output_files.all %}
    {% if file.deleted_on_filesystem %}
        <li data-file-deleted title="{{ file.file|filter_filename }} is already deleted">{{ file.download_file_name }}</li>
    {% else %}
    <li>{% include 'excerptexport/partials/download_content_file_label.html' with content_type=file.content_type %}:
        <a href="{{ file.get_absolute_url }}">{{ file.download_file_name }}</a>
        {% capture_as subject %}Download map data of {{ extraction_order.excerpt_name }}{% end_capture_as %}
        {% capture_as body %}{% email_body_with_single_result_link file %}{% end_capture_as %}
        <a href="{% filter strip %}{% include 'excerptexport/partials/mailto_link.html' %}{% endfilter %}">
            <button>&#9993; {% trans 'Send link' %}</button>
        </a>
        <div class="copy-link">
            {% spaceless %}
                <label>{% trans 'Copy link:'%} </label>
                <textarea class="form-control">{{ file.get_absolute_url | siteabsoluteurl:request }}</textarea>
            {% endspaceless %}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
