{% load i18n %}
{% load whitespace_cleanup %}

<a href="mailto:?{% filter remove_all_whitespace %}
    subject=
    {% filter urlencode %}Download map data of {{ extraction_order.excerpt_name }}{% endfilter %}
    &
    body=
    {% for file in extraction_order.output_files.all %}
        {% if not file.deleted_on_filesystem %}
            {% filter urlencode %}{% filter strip %}
                    {% include 'excerptexport/partials/content_file_type_description.html' with content_type=file.content_type %}
                {% endfilter %} ({{ file.content_type }}): http://{{ host_domain }}{{ file.get_absolute_url }}{% endfilter %}%0D%0A
        {% endif %}
    {% endfor %}
{% endfilter %}">
    <button>&#9993; {% trans 'Send all links' %}</button>
</a>
