{% if excerpt.bounding_geometry.type == 'BBoxBoundingGeometry' %}
<option value="{{ excerpt.id }}"
    data-geometry="boundingbox"
    data-north="{{ excerpt.bounding_geometry.north }}"
    data-east="{{ excerpt.bounding_geometry.east }}"
    data-south="{{ excerpt.bounding_geometry.south }}"
    data-west="{{ excerpt.bounding_geometry.west }}">
    {{ excerpt.name }}
</option>
{% else %}
<option value="{{ excerpt.id }}" data-geometry="{{ excerpt.bounding_geometry.type|lower }}">
    {{ excerpt.name }}
</option>
{% endif %}
