{% spaceless %}
    {% with status|lower as state %}
        {% if state == 'undefined' %}
            <span class="symbol undefined" title="{{ state }}">&quest;</span>
        {% elif state == 'initialized' %}
            <span class="symbol initialized" title="{{ state }}">&bigstar;</span>
        {% elif state == 'waiting' %}
            <span class="symbol waiting rotated90deg" title="{{ state }}">&bowtie;</span>
        {% elif state == 'processing' %}
            <span class="symbol processing" title="{{ state }}">&#8635;</span>
        {% elif state == 'finished' %}
            <span class="symbol finished" title="{{ state }}">&check;</span>
        {% elif state == 'canceled' %}
            <span class="symbol canceled" title="{{ state }}">&Chi;</span>
        {% elif state == 'failed' %}
            <span class="symbol failed" title="{{ state }}">&empty;</span>
        {% endif %}
    {% endwith %}
{% endspaceless %}
