{% extends "excerptexport/layouts/base.html" %}
{% load i18n %}

{% block main %}
    <a href="{% url 'excerptexport:index' %}">&#8810; {% trans 'Home'%}</a>

    {% if extraction_order.id %}
        <h2>{% trans 'Successfull creation of extraction order.' %}</h2>
        <p>
        {% trans 'Your map data export ist starting soon. You will be redirected to the status page.' %}
        <a href="{% url 'excerptexport:status' extraction_order.id %}">{% blocktrans with extraction_order_id=extraction_order.id %}Extraction order #{{ extraction_order_id }} status{% endblocktrans %}</a>
        </p>
    {% else %}
        <h2>{% trans 'Something went wrong. Please contact an administrator.' %}</h2>
    {% endif %}
{% endblock %}
