{% extends "excerptexport/layouts/base.html" %}
{% load staticfiles i18n crispy_forms_tags %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'New excerpt export' %}</li>
{% endblock %}

{% block main %}
    <div class="container-row box-column-grid">
        <div class="grid-column column-stretch-5 content">
            <form action="{% url 'excerptexport:new' %}" method="post" novalidate="novalidate" id="extractionOrderForm">
                {% crispy form %}
            </form>
        </div>
        <div class="grid-column column-stretch-5">
             <div class="outerMapWrapper">
                <div id="map" ></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src='{% static "excerptexport/libraries/leaflet/leaflet.js" %}'></script>
    <script>L.Path.CLIP_PADDING = 1.0;</script>

    <!-- Leaflet plugins -->
    <script src='{% static "excerptexport/libraries/leaflet-locationfilter/locationfilter.js" %}'></script>
    <script src='{% static "excerptexport/libraries/Leaflet.Spin/spin.min.js" %}'></script>
    <script src='{% static "excerptexport/libraries/Leaflet.Spin/leaflet.spin.js" %}'></script>
    <script src='{% static "excerptexport/libraries/leaflet-ajax/leaflet.ajax.min.js" %}'></script>

    <!-- map -->
    <script src='{% static "excerptexport/scripts/map.js" %}'></script>

    <!-- form -->
    <script src='{% static "excerptexport/scripts/formModeSwitcher.js" %}'></script>
    <script src='{% static "excerptexport/scripts/excerptFilter.js" %}'></script>
    <script src='{% static "excerptexport/scripts/formValidation.js" %}'></script>

    <!-- Bootstrap plugins -->
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- Bootstrap select -->
    <script type="text/javascript"
            src="{% static 'excerptexport/libraries/bootstrap/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.selectpicker').selectpicker({});
        });
    </script>
{% endblock %}
