{% extends "excerptexport/layouts/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active"><a href="{% url 'excerptexport:orders' %}">{% trans 'My orders' %}</a></li>
    <li class="active">{% trans 'Order' %} {{ extraction_order.id }}</li>
{% endblock %}

{% block main %}
    <div class="container-column content">
        <h2>
            {% blocktrans with excerpt_name=extraction_order.excerpt.name %}Export status (excerpt &quot;{{ excerpt_name }}&quot;) {% endblocktrans %}
            <span class="smaller"><a href="" class="btn btn-primary">&#8635; {% trans 'Reload' %}</a></span>
        </h2>
        <table>
            <tbody>
                <tr><th>{% trans 'ID' %}</th><td>{{ extraction_order.id }}</td></tr>
                <tr><th>{% trans 'Excerpt' %}</th><td>{{ extraction_order.excerpt.name }}</td></tr>
                <tr>
                    <th>{% trans 'Status' %}</th>
                    <td>
                        {% include 'excerptexport/partials/status.html' with status=extraction_order.get_state_display %}
                        {% with extraction_order.get_state_display|lower as state %}
                            {{ state }}
                        {% endwith %}
                    </td>
                </tr>
                <tr><th>{% trans 'Issuer' %}</th><td>{{ extraction_order.orderer.get_username }}</td></tr>
            </tbody>
        </table>

        {% if extraction_order.output_files.count > 0 %}
            <h3>{% trans 'Downloads' %}&nbsp;<!--
                -->{% if extraction_order.are_downloads_ready %}<!--
                    -->(Σ:{{ extraction_order.output_files.count }})<!--
                -->{% else %}<!--
                    -->({{ extraction_order.output_files.count }} {% trans 'already converted &hellip;' %})<!--
                -->{% endif %}</h3>
            {% include 'excerptexport/partials/download_list.html' with files=extraction_order.output_files host_domain=host_domain %}
            {% include 'excerptexport/partials/send_all_links.html' with extraction_order=extraction_order host_domain=host_domain %}
        {% endif %}
    </div>
{% endblock %}
