{% extends "excerptexport/layouts/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'excerptexport:index' %}">{% trans 'Home' %}</a></li>
{% endblock %}


{% block main %}
    <div class="container-row content">
        <h2>{% trans 'Overview' %}</h2>
        <p>{% trans 'Welcome to the "OSM Arbitrary Excerpt Export" service.' %}
            {% if not user.is_authenticated %}
            <br />{% trans 'Please' %} <a href="{% url 'excerptexport:login' %}">{% trans 'login' %}</a> {% trans 'or' %}
            <a href="http://www.clavid.ch" target="_blank">{% trans 'create an "OpenID" account' %}</a> {% trans 'to login.' %}
            {% endif %}
        </p>
        <nav>
            <ul>
                <li>
                    <span class="icon">&#x270e;</span>&nbsp;
                    <a href="{% url 'excerptexport:new' %}">{% trans 'New excerpt export' %}</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <span class="icon">&#x2637;</span>&nbsp;
                    <a href="{% url 'excerptexport:orders' %}">{% trans 'My orders' %}</a>
                </li>
                <li>
                    <span class="icon">&#8681;</span>&nbsp;
                    <a href="{% url 'excerptexport:downloads' %}">{% trans 'My downloads' %}</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
