{% extends "excerptexport/layouts/base.html" %}

{% load staticfiles i18n %}

{% block main %}
    <div class="box-container">
        <div class="container-row"><!--
             --><div class="container-column stretch-5">
                <form action="{% url 'excerptexport:new' %}" method="post" novalidate="novalidate">
                    {% csrf_token %}

                    <div class="form-group select-button-group">
                        <select class="btn-group" role="group" name="form-mode" id="form-mode" size="2" data-form-part-switcher>
                            <option class="btn btn-default" value="existing_excerpt" selected="selected" data-form-part-for="existing_excerpt">{% trans 'Use existing excerpt' %}</option>
                            <option class="btn btn-default" value="create_new_excerpt" data-form-part-for="create_new_excerpt">{% trans 'Create new excerpt' %}</option>
                        </select>
                    </div>

                    <div class="form-part" data-form-part="existing_excerpt">
                        <h2>{% trans 'Existing excerpt' %}</h2>
                        <div class="form-group">
                            <label for="existing_excerpt.id">{% trans 'Excerpt' %}</label>

                            <div class="form-group has-feedback">
                                <input id="excerptListFilterField" class="form-control" type="search" placeholder="{% trans 'Filter excerpts ...' %}" autocomplete="off"/>
                                <span id="excerptListFilterFieldClearer" class="clearer glyphicon glyphicon-remove-circle form-control-feedback"></span>
                            </div>

                            <select class="form-control" name="existing_excerpt.id" id="existing_excerpt.id" size="10" required="required">
                                <optgroup label="&nbsp;{% trans 'Personal excerpts' %} ({{ user.username }})">
                                    {% for excerpt in excerpts.own_private %}
                                        <option value="{{ excerpt.id }}">{{ excerpt.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="&nbsp;{% trans 'Personal public excerpts' %} ({{ user.username }})">
                                    {% for excerpt in excerpts.own_public %}
                                        <option value="{{ excerpt.id }}">{{ excerpt.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="&nbsp;{% trans 'Other excerpts' %}">
                                    {% for excerpt in excerpts.other_public %}
                                        <option value="{{ excerpt.id }}">{{ excerpt.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="&nbsp;{% trans 'Countries' %}">
                                    {% for excerpt in countries %}
                                        <option value="{{ excerpt.id }}">{{ excerpt.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>


                    <div class="form-part" data-form-part="create_new_excerpt">
                        <h2>{% trans 'Create excerpt' %}</h2>
                        {% include 'excerptexport/partials/new_excerpt_form.html' with form=new_excerpt_form %}
                    </div>

                    <div class="form-part">
                        <h2>{% trans 'Export options' %}</h2>
                        <fieldset class="form-group">
                            {{ export_options_form.as_p }}
                        </fieldset>
                    </div>


                    <input type="submit" value="Create excerpt export request" class="btn btn-primary" />
                </form>

             </div><!--
            --><div class="container-column stretch-5">
                <div class="outerMapWrapper">
                    <!--<div class="innerMapWrapper">-->
                        <div id="map" ></div>
                    <!--</div>-->
                </div>
            </div><!--
        --></div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>L.Path.CLIP_PADDING = 1.0;</script>

    <!-- Leaflet plugins -->
    <script src='{% static "excerptexport/libraries/leaflet-locationfilter/src/locationfilter.js" %}'></script>

    <!-- map -->
    <script src='{% static "excerptexport/scripts/map.js" %}'></script>

    <!-- form -->
    <script src='{% static "excerptexport/scripts/formModeSwitcher.js" %}'></script>
    <script src='{% static "excerptexport/scripts/excerptFilter.js" %}'></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap plugins -->
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- Bootstrap select -->
    <script type="text/javascript"
            src="https://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.selectpicker').selectpicker({});
        });
    </script>
{% endblock %}
