<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Osmaxx</title>
    <style>
        body { font-family: Arial, sans-serif; }
    </style>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css" />
    <link rel='stylesheet' type='text/css' href='{% static "excerptexport/libraries/leaflet-locationfilter/src/locationfilter.css" %}' />

    <link rel='stylesheet' type='text/css' href='{% static "excerptexport/stylesheets/main.css" %}' />
</head>
<body>
    <div class="page">
        <header>
            <div class="topBar">
                <h1>Osmaxx</h1>
                {% include 'excerptexport/partials/navigation.html' with view=view user=user %}
            </div>
            <nav class="breadcrumb">
                <ol class="breadcrumb" data-type="bootstrap">
                    {% block breadcrumb %}<li>Osmaxx</li>{% endblock %}
                </ol>
            </nav>
        </header>

        <div class="main">
            {% if messages %}
                <ul class="messages">
                {% for msg in messages %}
                    <li>
                        <div class="alert alert-{{msg.level_tag}}" role="alert">
                            {{msg.message}}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block main %}
                <h2>Main block</h2>
            {% endblock %}
        </div>

        <footer>
            <p>&copy; 2015 HSR Hochschule für Technik, Rapperswil</p>
        </footer>
    </div>
</body>
</html>
