<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Osmaxx</title>
    <link rel="icon" type="image/png" href='{% static "excerptexport/images/favicon.png" %}' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <style>
        body { font-family: Arial, sans-serif; }
    </style>

    <link rel="stylesheet" href="{% static 'excerptexport/libraries/bootstrap/css/bootstrap.min.css' %}" />

    <link rel="stylesheet" type="text/css" href='{% static "excerptexport/libraries/leaflet/leaflet.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "excerptexport/libraries/leaflet-locationfilter/locationfilter.css" %}' />

    <link rel='stylesheet' type='text/css' href='{% static "excerptexport/stylesheets/main.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "excerptexport/stylesheets/ie-fixes.css" %}' />
</head>
<body>
    <div class="page">
        <header>
            <div class="topBar">
                <a href="{% url 'excerptexport:index' %}">
                    <h1><img class="logo" src='{% static "excerptexport/images/logo-osmaxx-200.png" %}' alt="Osmaxx" /></h1>
                </a>
                <img class="hsr-logo" src='{% static "excerptexport/images/logo-hsr.jpg" %}' alt="Logo hsr" />
                {% include 'excerptexport/partials/navigation.html' with view=view user=user %}
            </div>
            <nav class="breadcrumb">
                <ol class="breadcrumb" data-type="bootstrap">
                    {% block breadcrumb %}<li>Osmaxx</li>{% endblock %}
                </ol>
            </nav>
        </header>

        <div class="main box-row-grid">
            <div class="grid-row messagebox">
                {% include 'excerptexport/partials/flash_messages.html' with messages=messages %}
            </div>

            {% block main %}
            <div class="container-row">
                <h2>Main block</h2>
            </div>
            {% endblock %}
        </div>

        <footer>
            <p>&copy; 2015 HSR Hochschule für Technik, Rapperswil</p>
        </footer>
    </div>

    {% block scripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{% static 'excerptexport/libraries/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'excerptexport/libraries/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Helpers -->
    <script type="text/javascript" src="{% static 'excerptexport/scripts/helperFunctions.js' %}"></script>
    {% endblock %}
</body>
</html>
