{% extends "osmaxx/base.html" %}

{% load i18n static %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'Login' %}</li>
{% endblock %}

{% block main %}
    <div class="container-row content">
        <h2>{% trans 'Login' %}</h2>
        {% if form.errors %}
        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        <p>
            {% blocktrans %}
            Please use your <strong>OpenStreetMap account</strong> to authenticate.
            <br />If you don't have an account already, please <a href="https://www.openstreetmap.org/user/new">create an OpenStreetMap account</a> and log in.
            <br /><br />If this is your <strong>first visit</strong> of OSMaxx: Please log in and request activation of your account for the OSMaxx application.
            {% endblocktrans %}
        </p>

        <a style="font-size: 1.2em;" class="btn btn-default btn-success" href="{% url 'social:begin' 'openstreetmap' %}?next={{ request.GET.next }}"><img src="{% static 'images/profile/osm_logo.svg' %}" alt="OSM Logo" height="32" width="32" />&nbsp;<strong>Log in</strong> using OpenStreetMap</a>
</div>
{% endblock %}
