{% import 'osm.md.jinja2' as osm -%}
{% if 'common_attributes' not in layer_definition or layer_definition['common_attributes'] -%}
    This layer has the [common attributes](#common-attributes)
    {%- if layer_definition['attributes'] -%}
        {{ ' ' }}as well as the following attributes:
    {%- else -%}
        .
    {%- endif %}
{% else -%}
    This layer _only_ has the following attributes (it _doesn't_ feature the [common attributes](#common-attributes)):
{% endif %}
{% if layer_definition['attributes'] -%}
|Attributes          |type                |Description                                                           |osm_tags            |
| ------------------ | ------------------ | -------------------------------------------------------------------- | ------------------ |
{% for attribute_name, attribute in layer_definition['attributes']|dictsort_unless_ordered -%}|
    {{- attribute_name }}|
    {{- attribute['type']|default(' ', boolean=True) }}|
    {%- with -%}
        {%- if 'values' in attribute -%}
            {%- set reference_to_value_table = '(see table below)' -%}
        {%- endif -%}
        {{- [attribute['description'], reference_to_value_table]|reject('undefined')|join(' ')|default(' ', boolean=True) -}}
    {%- endwith %}|
    {{- osm.tag_combinations(attribute['osm_tags'])|default(' ', boolean=True) }}|
{% endfor %}
{% endif -%}
