/* DROP SCHEMAS */
DROP SCHEMA IF EXISTS "{{ view_schema_name }}";
DROP SCHEMA IF EXISTS "{{ schema_name }}";
/* CREATE SCHEMAS */
CREATE SCHEMA "{{ schema_name }}";
CREATE SCHEMA "{{ view_schema_name }}";
