{% extends 'excerptexport/base.html' %}{% load i18n capture_as email_bodies static %}
{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% trans 'My Exports' %}</li>
{% endblock %}


{% block main %}
    <div class="container-row content">
        <div class="col-lg-12">
            <h2>My Exports</h2>
            {% for excerpt, exports in data.items %}
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ excerpt.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                {% for export in exports|slice:":5" %}
                                    {% include 'excerptexport/partials/export_display.html' %}
                                {% endfor %}
                                {% if exports|length > 5 %}<a href="{% url 'excerptexport:export_detail' id=excerpt.id %}">{% trans 'see all your exports of this excerpt.' %} ({{ exports|length }})</a>{% endif %}
                            </div>
                            <div class="col-lg-6">
                                {% include 'excerptexport/partials/minimap.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                {% include 'excerptexport/partials/no_exports_message.html' %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script src='{% static "excerptexport/scripts/maps/excerpt_viewer.js" %}'></script>
    <script src='{% static "excerptexport/scripts/maps/minimap.js" %}'></script>
{% endblock %}
