[Desktop Entry]
Encoding=UTF-8
Name=Link to Osmaxx
Type=Link
URL=http://osmaxx.dev:8000/excerptExport/
Icon=text-html
Name[en_US]=Link to Osmaxx Development
