
 Values of attributes type  {#  #}

|aggtype             |values              |osm_tags            |description                                                           |
| ------------------ | ------------------ | ------------------ | -------------------------------------------------------------------- |
{% for value, definition in type_values.items() -%}
|{{ definition['correlated_attributes'].values()[0] -}}
|{{ value }}|
{{- definition['osm_tags'][0].keys()[0] }}='{{ definition['osm_tags'][0].values()[0] }}' {#  #}
{%- if definition['osm_tags'][1] is defined -%}
{{- definition['osm_tags'][1].keys()[0] }}='{{ definition['osm_tags'][1].values()[0] }}'|
{%- else -%}
|
{%- endif -%}
{{ definition['description'] }}|
{% endfor -%}
