
 Values of attributes type  {#  #}

|values              |osm_tags            |description                                                           |
| ------------------ | ------------------ | -------------------------------------------------------------------- |
{% for i in range(0, a) -%}
|{{ typelist[i] }}|
{{- dicts[typelist[i]]['osm_tags'][0].keys()[0] }}='{{ dicts[typelist[i]]['osm_tags'][0].values()[0] }}' {#  #}
{%- if dicts[typelist[i]]['osm_tags'][1] is defined -%}
{{ dicts[typelist[i]]['osm_tags'][1].keys()[0] }}='{{ dicts[typelist[i]]['osm_tags'][1].values()[0] }}'|
{%- else -%}
|
{%- endif -%}
{{ dicts[typelist[i]]['description'] }}|
{% endfor -%}
