
 Values of attributes type  {#  #}

{% for attribute_name in correlated_attributes -%}
    |{{ attribute_name }}             {#  #}
{%- endfor -%}
|values              |osm_tags            |description                                                           |
{% for _ in correlated_attributes -%}
    | ------------------ {#  #}
{%- endfor -%}
| ------------------ | ------------------ | -------------------------------------------------------------------- |
{% for value, definition in type_values.items() -%}
    {% for attribute_name in correlated_attributes -%}
        |{{ definition['correlated_attributes'][attribute_name] -}}
    {%- endfor -%}
    |{{ value }}|
    {%- set tags_len = definition['osm_tags']|length -%}
    {%- for i in range(0, tags_len) -%}
    {{- definition['osm_tags'][i].keys()[0] }}='{{ definition['osm_tags'][i].values()[0] }}'{{' '}}
    {%- endfor -%}|
    {{- definition['description'] }}|
{% endfor -%}
