{% import 'osm.md.jinja2' as osm -%}
{% if attributes %}
|Attributes          |type                |Description                                                           |osm_tags            |
| ------------------ | ------------------ | -------------------------------------------------------------------- | ------------------ |
{% for attribute_name, attribute in attributes|dictsort_unless_ordered -%}|
    {{- attribute_name }}|
    {{- attribute['type'] }}|
    {%- with -%}
        {%- if 'values' in attribute -%}
            {%- set reference_to_value_table = '(see table below)' -%}
        {%- endif -%}
        {{- [attribute['description'], reference_to_value_table]|reject('undefined')|join(' ')|default(' ') -}}
    {%- endwith %}|
    {{- osm.tag_combinations(attribute['osm_tags'])|default(' ', boolean=True) }}|
{% endfor %}
{% endif -%}
