{% macro tag(key, value) -%}
    {% if value == '__ABSENT__' -%}
        <strong><code>{{ key }}≠\*</code></strong>
    {%- else -%}
        `{{ key }}={{ value }}`
    {%- endif %}
{%- endmacro %}


{% macro not_tag(key, value) -%}
    **`{{ key }}≠{{ value }}`**
{%- endmacro %}

{% macro tag_combination(osm_tag_combination, combination_separator) -%}
    {{ combination_separator() -}}
    {%- set and_sep = joiner('+') -%}
    {%- for key, value in osm_tag_combination|included|dictsort_unless_ordered -%}
        {{- and_sep() -}}
        {{- tag(key, value) -}}
    {%- endfor %}
    {%- for key, value in osm_tag_combination|excluded|dictsort_unless_ordered -%}
        {{- and_sep() -}}
        {{- not_tag(key, value) -}}
    {%- endfor %}
{%- endmacro %}

{% macro tag_combinations(osm_tag_combinations) -%}
    {% set or_sep = joiner(' or ') -%}
    {%- for osm_tag_combination in osm_tag_combinations -%}
        {{ tag_combination(osm_tag_combination, or_sep) }}
    {%- endfor %}
{%- endmacro %}
