{% extends "excerptexport/base.html" %}

{% load i18n %}

{% block main %}
    <div class="container-row content">
        {% if user.is_authenticated %}
            <h2>{% trans 'Please contact your administrator or request access' %}</h2>
            <p>
                {% blocktrans %}You do not appear to have the proper access rights. Please contact your
                supervisor/administrator and ask for the needed access rights.{% endblocktrans %}
            </p>

            <h3>New account</h3>
            <p>
                {% blocktrans %}If you logged in by a new Clavid account, please request its activation: {% endblocktrans %}<br />
                <form method="post" action="{% url 'excerptexport:request_access' %}?next={% url 'excerptexport:access_denied' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary"><span class="icon default">&#9911;</span> {% trans 'Request access' %}</button>
                </form>
                {% blocktrans %}and try again.{% endblocktrans %}
            </p>
        {% else %}
            <h2>{% trans 'Please Login' %}</h2>
            <p>{% trans 'This site has pages, which are protected. Please login and try again.' %}</p>
            <a href="{% url 'excerptexport:login' %}?next={% url 'excerptexport:index' %}">{% trans 'Login' %}</a>
        {% endif %}
    </div>
{% endblock %}
