{% extends "excerptexport/base.html" %}

{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li>{% trans 'Home' %}</li>
{% endblock %}


{% block main %}
    <div class="container-row content">
        <h1 class="text-center">
            OSMaxx<br />
            <small>
                {% trans 'Get the OpenStreetMap data you want in the file format you need' %}
            </small>
        </h1>
        <div class="container-fluid">
            <div class="text-center col-sm-6">
                <span class="icon">&#x27bd;</span><br />
                <a class="btn btn-primary btn-lg" href="{% url 'excerptexport:order_existing_excerpt' %}">
                    <strong>{% trans 'Export an existing excerpt' %}</strong>
                </a>
                <br />
                {% trans '(a predefined country or other administrative area,<br />or one of your previously defined excerpts)' %}
            </div>
            <div class="text-center col-sm-6">
                <span class="icon">&#8983;</span><br />
                <a class="btn btn-primary btn-lg" href="{% url 'excerptexport:order_new_excerpt' %}">
                    <strong>{% trans 'Define & export a new excerpt' %}</strong>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="text-center col-sm-12">
                <span class="icon">&#x2637;</span><br />
                <a class="btn btn-primary btn-lg" href="{% url 'excerptexport:export_list' %}">{% trans 'My exports' %}</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
