{% extends "excerptexport/layouts/base.html" %}

{% block main %}
    {% if user.is_authenticated %}
    <a href="{% url 'excerptexport:logout' %}?next={% url 'excerptexport:index' %}">
        Logout <strong>{{ user.username }}</strong>
    </a>
    {% else %}
    <a href="{% url 'excerptexport:login' %}">Login</a>
    {% endif %}

    <h2>Overview</h2>
    <nav>
        <ul>
            <li>
                <span class="icon">&#x270e;</span>&nbsp;
                <a href="{% url 'excerptexport:new' %}">New excerpt export</a>
            </li>
            <li>
                <span class="icon">&#8681;</span>&nbsp;
                <a href="{% url 'excerptexport:downloads' %}">Downloads</a>
            </li>
        </ul>
    </nav>
{% endblock %}
