{% extends "excerptexport/layouts/base.html" %}

{% load filter_filename i18n %}

{% block main %}
    <h2>{% trans 'Downloads' %}</h2>
    {% for extraction_order in extraction_orders.all %}
        <h3>{% trans 'Extraction order' %} <a href="{% url 'excerptexport:status' extraction_order.id %}">#{{ extraction_order.id }}</a>
            ({% trans 'Excerpt' %} &quot;{{ extraction_order.excerpt.name }}&quot;)</h3>

        {% include 'excerptexport/partials/download_list.html' with files=extraction_order.output_files host_domain=host_domain %}
        {% include 'excerptexport/partials/send_all_links.html' with extraction_order=extraction_order host_domain=host_domain %}

    {% endfor %}
{% endblock %}
