<!DOCTYPE html>
{% load staticfiles i18n %}

<html prefix="og: http://ogp.me/ns#">{# needed for Open Graph metatags in osmaxx/core/templates/osmaxx/base.html #}
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% block extra_head %}
    {% endblock %}

    <!-- Begin Cookie Consent plugin styling by Silktide - http://silktide.com/cookieconsent -->
    <link rel="stylesheet" href="{% static 'osmaxx/libraries/cookieconsent2/css/dark-top.css' %}" />
    <!-- End Cookie Consent plugin -->
</head>
<body>
    {% block body %}
    {% endblock %}

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript" src="{% static 'osmaxx/js/cookie_consent_options.js' %}"></script>
    <script type="text/javascript" src="{% static 'osmaxx/libraries/cookieconsent2/js/cookieconsent.min.js' %}"></script>
    <!-- End Cookie Consent plugin -->
</body>
</html>
