CREATE OR REPLACE VIEW "{{ view_schema_name }}".address_p AS SELECT
    osm_id,
    lastchange,
    geomtype,
    geom,
    "type",
    "name",
    name_en,
    name_fr,
    name_es,
    name_de,
    int_name,
    label,
    tags,
    street,
    housenumber,
    postcode,
    city,
    country
FROM "{{ schema_name }}".address_p;
