CREATE OR REPLACE VIEW "{{ view_schema_name }}".poi_p AS SELECT
    osm_id,
    lastchange,
    geomtype,
    geom,
    aggtype,
    "type",
    "name",
    name_en,
    name_fr,
    name_es,
    name_de,
    int_name,
    label,
    tags,
    website,
    wikipedia,
    phone,
    opening_hours,
    cuisine,
    "access",
    brand,
    tower_type
FROM "{{ schema_name }}".poi_p;
