CREATE OR REPLACE VIEW "{{ view_schema_name }}".transport_l AS SELECT
    osm_id,
    lastchange,
    geomtype,
    geom,
    aggtype,
    "type",
    "name",
    name_en,
    name_fr,
    name_es,
    name_de,
    int_name,
    "label",
    tags
FROM "{{ schema_name }}".transport_l;
