CREATE OR REPLACE VIEW "{{ view_schema_name }}".water_l AS SELECT
    osm_id,
    lastchange,
    geomtype,
    geom,
    "type",
    "name",
    name_en,
    name_fr,
    name_es,
    name_de,
    int_name,
    label,
    tags,
    width
FROM "{{ schema_name }}".water_l;
