CREATE OR REPLACE VIEW "{{ view_schema_name }}".railway_l AS SELECT
    osm_id,
    lastchange,
    geomtype,
    geom,
    aggtype,
    "type",
    "name",
    name_en,
    name_fr,
    name_es,
    name_de,
    int_name,
    label,
    tags,
    z_order,
    bridge,
    tunnel,
    voltage,
    frequency
FROM "{{ schema_name }}".railway_l;
