{% load i18n capture_as email_bodies static %}
<div class="panel panel-{{ export.css_status_class }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                {{ export.get_file_format_display }}
            </div>
            <div class="col-md-3 col-lg-3">
                {{ export.file_format }}
            </div>
            <div class="col-md-3 col-lg-3">
                {{ export.status }}
            </div>
        </div>
    </div>
    {% if export.output_file.file %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <p>
                        <a href="{{ export.output_file.file.url }}">{{ export.output_file.get_filename_display }}</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-3">
                    <p>
                        {% capture_as subject %}Download {{ export.get_file_format_display }} map data of {{ export.extraction_order.excerpt.name }}{% end_capture_as %}
                        {% capture_as body %}{% email_body_with_single_result_link export.output_file %}{% end_capture_as %}
                        <a href="mailto:?subject={% filter urlencode %}{{ subject }}{% endfilter %}&body={% filter urlencode %}{{ body }}{% endfilter %}">Send Mail</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-3">
                    <p>
                        {% firstof export.finished|date:"Y-m-d H:i:s" export.updated %}
                    </p>
                </div>
            </div>
        </div>
    {% elif export.status == "finished" %}{# FIXME: finished is hardcoded, but as long as we don't have the STATUS on the model, we can't access it here! #}
        <div class="panel-body">
            <p>{% url 'excerptexport:order_existing_excerpt' as order_existing_url %}
                {% blocktrans %}This file has been removed from the server. Please <a href="{{ order_existing_url }}">request it</a> again.{% endblocktrans %}
            </p>
        </div>
    {% endif %}
</div>
