{% load i18n capture_as email_bodies static %}
<div class="panel panel-{{ export.css_status_class }}" id="export-panel-{{ export.id }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                {{ export.get_file_format_display }}
            </div>
            <div class="col-md-2 col-lg-2">
                {{ export.extraction_order.get_coordinate_reference_system_display }}
            </div>
            <div class="col-md-2 col-lg-2">
                {{ export.extraction_order.get_detail_level_display }}
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="col-xs-10">
                    {% capture_as changed_at_datetime %}{% firstof export.finished_at|date:'DATETIME_FORMAT' export.updated_at|date:'DATETIME_FORMAT' %}{% end_capture_as %}
                    {% capture_as state_display %}{{ export.status }} at {{ changed_at_datetime }}{% end_capture_as %}
                    {% capture_as available_until %}{{ export.result_file_available_until|date:'DATETIME_FORMAT' }}{% end_capture_as %}
                    {% if export.status == export.FINISHED and export.result_file_available_until %}
                        {% blocktrans %}<span title="{{ state_display }}">available until {{ available_until }}</span>{% endblocktrans %}
                    {% else %}
                        {{ state_display }}
                    {% endif %}
                </div>
                <div class="col-xs-2">
                    {% if export.can_be_deleted %}
                        <div id="delete-export-{{ export.id }}" class="hidden">
                            <span class="glyphicon glyphicon-trash hand-cursor" aria-hidden="true"></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if export.output_file.file %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <p>
                        <a href="{{ export.output_file.file.url }}">{{ export.output_file.get_filename_display }}</a>
                    </p>
                </div>
                <div class="col-md-1 col-lg-1">
                    {{ export.output_file.file.size|filesizeformat }}
                </div>
                <div class="col-md-3 col-lg-3">
                    <p>
                        {% capture_as subject %}Download {{ export.get_file_format_display }} map data of {{ export.extraction_order.excerpt.name }}{% end_capture_as %}
                        {% capture_as body %}{% email_body_with_single_result_link export.output_file available_until %}{% end_capture_as %}
                        <a href="mailto:?subject={% filter urlencode %}{{ subject }}{% endfilter %}&body={% filter urlencode %}{{ body }}{% endfilter %}">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            Send Link as Email
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% elif export.status == export.FINISHED %}
        <div class="panel-body">
            <p>{% url 'excerptexport:order_existing_excerpt' as order_existing_url %}
                {% blocktrans %}This file has been removed from the server. Please <a href="{{ order_existing_url }}">request it</a> again.{% endblocktrans %}
            </p>
        </div>
    {% endif %}
</div>
