{% load i18n capture_as %}{{ export.get_file_format_display }} /
{% firstof export.finished_at|date:'DATETIME_FORMAT' export.updated_at|date:'DATETIME_FORMAT' as changed_at_datetime %}
{% capture_as state_display %}{{ export.status }} at {{ changed_at_datetime }}{% end_capture_as %}
{% capture_as available_until %}{{ export.result_file_available_until|date:'DATETIME_FORMAT' }}{% end_capture_as %}
{% if export.status == export.FINISHED and export.result_file_available_until %}
    {% blocktrans %}<span title="{{ state_display }}">available until {{ available_until }}</span>{% endblocktrans %} /
{% else %}
    {{ state_display }}
{% endif %}
{% if export.output_file.file %}({{ export.output_file.get_filename_display }}){% endif %}
[{{ export.extraction_order.get_coordinate_reference_system_display }}/{{ export.extraction_order.get_detail_level_display }}]
